:root {
  --primary-color: rgb(164, 146, 102);
  --secondary-color: rgb(220, 145, 70);
  --text-color: rgb(13, 1, 36);
}

body {
  background-color: var(--primary-color);
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: var(--text-color);
}

.navbar {
  padding: 1em;
  background-color: #dac286;
}

.navbar .mascot {
  width: 40px;
  height: 40px;
}

.navbar .left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navbar .left .logo {
  vertical-align: bottom;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  background: -webkit-linear-gradient(#dc9146, #0d0124);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  position: relative;
}

.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 1em 2em;
  width: auto;
}

.hero {
  color: var(--text-color);
  margin-top: 0;
  font-size: 1.2em;
}

.hero .left-col {
  text-align: center;
}

.hero .left-col .mission-statement {
  text-align: center;
}

.hero .coffee-cup {
  width: 50%;
}

.weekly-items {
  font-size: 1.2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--secondary-color)));
  background-image: linear-gradient(var(--primary-color), var(--secondary-color));
}

.weekly {
  display: none;
}

.donation {
  background: var(--secondary-color);
  color: white;
}

.donation li {
  color: white;
  background: #bc7c3c;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 1em auto;
  border-radius: 1em;
}

.donation ul.foods {
  margin: 0;
  padding-left: .1em;
  display: -ms-grid;
  display: grid;
}

.donation ul.foods li {
  font-size: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

.donation .cashapp {
  display: none;
}

.volunteer {
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--secondary-color)), to(var(--primary-color)));
  background-image: linear-gradient(var(--secondary-color), var(--primary-color));
}

.volunteer h4 {
  margin-top: 2em;
}

.volunteer li {
  color: white;
  background: #bc7c3c;
  text-align: center;
  padding: 2em 2em;
  width: 80%;
  margin: 0 auto 0 auto;
  border-radius: 1em;
}

.testimonials {
  background: var(--primary-color);
}

.testimonials h2 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.testimonials li {
  background: #bc7c3c;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0em auto 5em auto;
  border-radius: 1em;
}

.testimonials li img {
  width: 5em;
  height: 5em;
  border: 5px solid #bc7c3c;
  border-radius: 50%;
  margin-top: -4.5em;
}

.ending {
  font-size: .75em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--secondary-color)));
  background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  color: var(--text-color);
}

.ending a {
  color: var(--text-color);
}

h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

section {
  padding: 5em 2em;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 2em;
  line-height: 1em;
  margin-top: .1em;
}

h4 {
  font-size: 1.5em;
  line-height: .7em;
  margin-top: .05em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  block-size: -webkit-fit-content;
  block-size: -moz-fit-content;
  block-size: fit-content;
  right: 0;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: left;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: left;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 400px) {
  .navbar .container .left {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .navbar .container .left .logo {
    vertical-align: bottom;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: var(--text-color);
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
}

@media only screen and (min-width: 700px) {
  .container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .navbar .left {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .navbar .left .logo {
    vertical-align: bottom;
  }
  section {
    padding: 10em 4em;
    width: auto;
  }
  .weekly-items .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .weekly-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.2em;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--primary-color)), to(var(--secondary-color)));
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  }
  .weekly-items .left-col {
    margin: 2em 2em;
  }
  .weekly {
    display: block;
    width: 50%;
    height: 100%;
    margin-bottom: 2em;
  }
  .donation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .donation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: var(--secondary-color);
    color: white;
  }
  .donation li {
    color: white;
    background: #bc7c3c;
    text-align: center;
    padding: 2em 1em;
    margin: 0 auto 1em auto;
    border-radius: 1em;
    width: auto;
  }
  .donation .cashapp {
    height: 50%;
    width: 50%;
    display: block;
    position: right;
    margin-bottom: 2em;
    padding: 0 0 0 2em;
  }
  .donation ul.foods {
    margin: 0;
    padding-left: .1em;
    display: -ms-grid;
    display: grid;
  }
  .donation ul.foods li {
    font-size: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
  }
  .testimonials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: var(--primary-color);
    margin-top: 4em;
    margin-bottom: 4em;
  }
  .testimonials ul h2 {
    text-align: center;
  }
  .testimonials ul li {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    background: #bc7c3c;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
  }
  .testimonials ul li img {
    width: 5em;
    height: 5em;
    border: 5px solid #bc7c3c;
    border-radius: 50%;
    margin-top: -4.5em;
  }
  .testimonials ul li {
    margin: 0 1em;
  }
}
/*# sourceMappingURL=main.css.map */